<div><%= hidden_field_tag :book_id, @book.id %></div>
<button type="button" class="btn btn-danger btn-circle"
  id="bt-favourite" value="favourite">
  <i class="glyphicon glyphicon-heart"></i>
</button>
