<footer class="footer">
  <small>
    <%= t "views.layouts.footer.title" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("views.layouts.footer.about"), about_path %></li>
      <li><%= link_to t("views.layouts.footer.contact"), contact_path %></li>      
    </ul>
  </nav>
</footer>
